/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom css starts here */
html {
    height: 100%;
    width: 100%;
}

body {
    background: #204051;
    color: #FFF;
    font-family: console, monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* header styles */
header {
    background: #1b262c;
}

header form {
    display: flex;
}

header form input {
    flex-grow: 2;
    border: 0;
    background: transparent;
    border-bottom: 0.5px solid #FFF;
    color: #FFF;
    font-family: console, monospace;
    font-size: 1.5rem;
}
header form input:focus,
header form button:focus{
    outline-color: #FFF;
    outline-style: dashed;
    outline-width: 0.5px;
    border-bottom: 1px solid #1b262c;
}

header form button {
    margin-left: 0.5rem;
}

header form button:focus {
    border: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 80rem;
    padding: 1.5rem 0.75rem;
}

main {
    flex: 1;
}

main section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

main section article {
    width: 25%;
    margin-bottom: 1rem;
    color: #1b262c;
    display: flex;
    flex-direction: column;
    position: relative;
}

main section article > div {
    background: #FFF;
    margin: 0 0.5rem;
    height: 100%;
    overflow: hidden;
    padding: 1px;
}

main section article > div div {
    height: 15rem;
    width: 100%;
    overflow: hidden;
}

main section article > div div img {
    padding: 0.75rem solid #FFF;
}

.lazyload,
.lazyloading {
    opacity: 0;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 200ms;
}

img.lazyload:not([src]) {
    visibility: hidden;
}

main .wrapper {
    padding-bottom: 0;
}

@media screen and ( max-width: 80rem ) {
    main section article {
        width: 33.33333%;
    }

    main section article > div div {
        height: 15rem;
    }
}

@media screen and ( max-width: 60rem ) {
    main section article {
        width: 50%;
    }
}

@media screen and ( max-width: 40rem ) {
    main section article {
        width: 100%;
    }

    main section article > div div {
        height: 20rem;
    }
}

a {
    color: #FFF;
}

.svg-icon {
     width: 2rem;
     height: 2rem;
    vertical-align: middle;
 }

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #FFF;
}

.svg-icon circle {
    stroke: #FFF;
    stroke-width: 1;
}

main section article img {
    width: 100%;
}

main section article h2 {
    padding: 0.5rem 0.75rem;
}

main section article p {
    background: #FFF;
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;
}

button {
    background: transparent;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: bold;
}

h3 {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.25rem;
}

article .svg-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.3rem;
}

article .svg-icon path,
article .svg-icon polygon,
article .svg-icon rect {
    fill: #1b262c;
}

article .svg-icon circle {
    stroke: #1b262c;
}

article p {
    display: flex;
    align-items: flex-end;
}

article p span {
    flex: 1;
    display: inline-block;
}

article p span:nth-child(2) {
    text-align: right;
    flex: 0.8;
}

article .wanted {
    position: absolute;
    right: 0.5rem;
    top: 0;
    background: #204051;
    padding: 0.25rem;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 0.75rem;
}

